gitg/*.o
autom4te.cache
.deps
intltool*
Makefile
Makefile.in
depcomp
config.*
aclocal.m4
configure
gitg/gitg
main.sh
omf.make
stamp-h1
xmldocs.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
/data/gitg.schemas
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
