gitg/*.o
autom4te.cache
po/*.gmo
.deps
intltool*
Makefile
Makefile.in
depcomp
config.*
aclocal.m4
configure
data/gitg.desktop.in
gitg/gitg
main.sh
omf.make
po/POTFILES
po/stamp-it
stamp-h1
xmldocs.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
