.gitg-hunk-header {
	border-top: 1px solid shade(@borders, 1.2);
	background-color: @theme_bg_color;
}

.gitg-file-header {
	transition: 0.1s ease-out;
	background-color: @theme_bg_color;
}

.gitg-file-header.expanded {
	transition: 0.1s ease-out;
	background-color: shade(@theme_bg_color, 0.95);
}

.gitg-diff-view-grid-files {
	border-top: 1px solid @borders;
}

.diff-lines-border {
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right: 1px solid shade(@theme_bg_color, 0.95);
}

.diff-lines-border.symbol {
	border-right: 2px solid shade(@theme_bg_color, 0.95);
}

GitgDiffViewHunk GtkSourceView {
	color: @insensitive_fg_color;
}

GitgDiffViewHunk GtkSourceView.view {
	color: @theme_text_color;
}

GitgDiffView GitgDiffViewCommitDetails {
	border-bottom: 1px outset lighter(@borders);
}

GitgDiffStat {
	border: 1px inset shade(@borders, 1.2);
	border-radius: 5px;
	background-color: shade(@theme_base_color, 0.975);
	padding: 1px 5px 1px 3px;
	-GitgDiffStat-bar-height: 5px;
}

GitgDiffStat.no-frame {
	border: 0;
}

GitgDiffStat.added,
GitgDiffStat.removed,
GitgDiffStat.no-frame.added,
GitgDiffStat.no-frame.removed {
	border: 0;
}

GitgDiffStat.added,
GitgDiffStat.added-only,
GitgDiffStat.no-frame.added,
GitgDiffStat.no-frame.added-only {
	background-color: #ddffdd;
	border-radius: 3px 0px 0px 3px;
}

GitgDiffStat.added:dir(rtl),
GitgDiffStat.no-frame.added:dir(rtl) {
	border-radius: 0px 3px 3px 0px;
}

GitgDiffStat.removed,
GitgDiffStat.removed-only,
GitgDiffStat.no-frame.removed,
GitgDiffStat.no-frame.removed-only {
	background-color: #ffdddd;
	border-radius: 0px 3px 3px 0px;
}

GitgDiffStat.removed:dir(rtl),
GitgDiffStat.no-frame.removed:dir(rtl) {
	border-radius: 3px 0px 0px 3px;
}

GitgDiffStat.removed-only,
GitgDiffStat.added-only,
GitgDiffStat.no-frame.removed-only,
GitgDiffStat.no-frame.added-only {
	border-radius: 3px;
}
